{% macro icon(name_str) -%}
<svg class="ic" viewBox="0 0 24 24" aria-hidden="true">
{%- if name_str == 'overview' -%}
<rect x="3.5" y="3.5" width="7" height="7" rx="1.5"></rect><rect x="13.5" y="3.5" width="7" height="7" rx="1.5"></rect><rect x="3.5" y="13.5" width="7" height="7" rx="1.5"></rect><rect x="13.5" y="13.5" width="7" height="7" rx="1.5"></rect>
{%- elif name_str == 'pods' -%}
<rect x="8.25" y="3.5" width="7.5" height="7.5" rx="1.5"></rect><rect x="3.5" y="13" width="7.5" height="7.5" rx="1.5"></rect><rect x="13" y="13" width="7.5" height="7.5" rx="1.5"></rect>
{%- elif name_str == 'positions' -%}
<path d="M4 7.5A2.5 2.5 0 0 1 6.5 5H17a1 1 0 0 1 1 1v2"></path><path d="M4 7.5V17a2.5 2.5 0 0 0 2.5 2.5H19a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H6.5A2.5 2.5 0 0 1 4 7.5z"></path><path d="M16 13.75h.01"></path>
{%- elif name_str == 'performance' -%}
<path d="M4 4v15a1 1 0 0 0 1 1h15"></path><path d="M8 15l3.5-4 3 2.5L20 8"></path>
{%- elif name_str == 'activity' -%}
<path d="M4.5 12a7.5 7.5 0 1 0 2.3-5.4"></path><path d="M4.5 5v3.5H8"></path><path d="M12 8.5V12l2.5 1.5"></path>
{%- elif name_str == 'system' -%}
<rect x="4" y="4.5" width="16" height="6" rx="1.5"></rect><rect x="4" y="13.5" width="16" height="6" rx="1.5"></rect><path d="M7.5 7.5h.01M7.5 16.5h.01"></path>
{%- elif name_str == 'calendar' -%}
<rect x="4" y="5.5" width="16" height="15" rx="2"></rect><path d="M8 3.5v4M16 3.5v4M4 10.5h16"></path>
{%- elif name_str == 'tools' -%}
<path d="M20.2 6.8l-3 3-2.3-.6-.6-2.3 3-3a4.6 4.6 0 0 0-6 5.9L4.6 16.5a2.05 2.05 0 0 0 2.9 2.9l6.7-6.7a4.6 4.6 0 0 0 6-5.9z"></path>
{%- endif -%}
</svg>
{%- endmacro %}
